.App {
  text-align: center;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.section{ 
  display: grid;
  grid-template-columns: 1fr 1fr, 1fr;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media(min-width: 1201px), (max-width: 1500px){
  .section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 901), (max-width: 1200px) { 
  .section{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
} 
@media (min-width: 601),(max-width: 900px) { 
  .section{
    display: grid;
    grid-template-columns: 1fr;
  }
} 
@media (max-width: 600px) { 
  .section{
    display: grid;
    grid-template-columns: 1fr;
  }
} 